body {
    margin: 0;
    background-color: #22313f;
}
.userinput{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 1em;
}

.inptbtn{
    margin: 10px;
    padding: 1em;
    font-size: 30px;
    background-color:#34495e;
    color: #e4f1fe;
    font-weight: bold;
    border-style: solid;

}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 960px;
    /* Set the total width of the container */
    height: 960px;
    border: 1px solid black;
    /* Optional: Add a border to the container */
}

.grid-item {
    flex: 1 0 ;

    aspect-ratio: 1/1; /* Keeps squares proportional */
    
    box-sizing: border-box;
    
    border: 1px solid #ddd;
    
    background-color: #8dc6ff;
   

}